name: Build & Push Images

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAMESPACE: ghalehnoei/news-scraper

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build API image
        run: |
          docker build \
            -f docker/api.Dockerfile \
            -t $REGISTRY/$IMAGE_NAMESPACE/api:latest \
            .

      - name: Build Worker image
        run: |
          docker build \
            -f docker/worker.Dockerfile \
            -t $REGISTRY/$IMAGE_NAMESPACE/worker:latest \
            .

      - name: Push images
        run: |
          docker push $REGISTRY/$IMAGE_NAMESPACE/api:latest
          docker push $REGISTRY/$IMAGE_NAMESPACE/worker:latest
